{% extends "_static.html" %}
{% block window-content %}
    <div class="window">
        <div class="wrapper-800">
            <h3>1. General Usage</h3>
            <p>bbncreative does not track or collect any personally identifiable information (PII) of website visitors
                when browsing the site. Specific use cases, along with involved parties, ways the data is used, how to
                manage that data, and relevant processes are specified as follows.</p>
            <h3>2. Data Use Cases</h3>
            <h4>2.1 Contact Form Inputs</h4>
            <p>When using the Contact Form on the website; your name, email address,
                subject line and message are collected. That data will be used exclusively as follows:</p>
            <ul>
                <li>Name: To address you appropriately in any correspondence</li>
                <li>Email address: To respond to your message if appropriate</li>
            </ul>
            <p>The data will be stored by the data controller, Aaron Cawte, on bbncreative's third-party email hosting
                service for as long as is necessary for the thread of correspondenece. All relevant data will be deleted if the
                thread of conversation has concluded and requires no further action.</p>
            <p>You can request that any data from messages you have sent through the contact form is deleted from bbncreative's
                records with another message sent through the contact form, clearly stating that this is your request in the subject line.</p>
            <h4>2.2 Contact Form reCaptcha Verification</h4>
            <p>User verification such as Google reCaptcha is utilised on the site, such as on submission of the contact
                form. These services may set cookies on your device, and must not be used if you do not wish
                to accept cookies.</p>

            <em>If you need further information or clarification on this policy, please contact <a
                    href="mailto:aaron@bbncreative.co">the Data Controller</a> directly.</em>
        </div>
    </div>
{% endblock %}
