# Python
__pycache__/

# Node.js
node_modules/

# PyCharm
*.idea/

# bbncreative_cms logging
django_debug.log

# bbncreative_cms secrets
db_setup.py

# bbncreative media folder
media/

# Development scripts
scripts/

# Test reports
test_reports/
