{% extends "_base.html" %}
{% load static %}
{% block head-content %}
    <meta property="og:url" content="https://bbncreative.co/"/>
    <meta property="og:title" content="bbncreative"/>
    <meta property="og:description"
          content="Digital experiences through design, media and interaction. Thinking outside the screen, by Aaron Cawte."/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="bbncreative"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="{% static "img/logo-144x144.png" %}"/>
{% endblock %}
{% block body-content %}
    <div id="videoLayerBox">
        <div id="videoLayerMedia" class="videoLayer">
            <video src="static/vid/wallpaper.mp4" preload="none" autoplay loop muted></video>
        </div>
        <div id="videoLayerTint" class="videoLayer"></div>
        <div id="videoLayerFrame" class="videoLayer"></div>

    </div>
    <div class="window window-hero">
        <div class="wrapper-1200">
            <div class="heroHeadline">
                <div id="textPress">Press</div>
                <div id="textPlay">Play.</div>
            </div>
            <div class="heroTagline">
                Digital experiences through design, media and interaction.<br>Thinking outside the
                screen, by <a href="/feeds/aaron">Aaron Cawte</a>.
            </div>
        </div>
        <div class="heroScroll">
            <p id="heroScrollTrigger"><i class="fas fa-angle-down"></i>Take a look!<i class="fas fa-angle-down"></i>
            </p>
        </div>
    </div>
    <div class="window window-cards">
        <div class="wrapper-1200">
            <h2>What I Do</h2>
            {% if front_page_feeds|length == 0 %}
                <p class="no-content-line"><i class="far fa-frown"></i>Uh oh! There's no content here right now.</p>
            {% else %}
                <div class="contain-cards">
                    {% for feed in front_page_feeds %}
                        {% include "components/_feedSummary.html" %}
                    {% endfor %}
                </div>
                <a href="/feeds" class="no-text-decoration">
                    <button class="see-all">All Feeds</button>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="window window-cards">
        <div class="wrapper-1200">
            <h2>What I'm Working On</h2>
            {% if front_page_projects|length == 0 %}
                <p class="no-content-line"><i class="far fa-frown"></i>Uh oh! There's no content here right now.</p>
            {% else %}
                <div class="contain-cards">
                {% for project in front_page_projects %}
                    {% include "components/_projectSummary.html" %}
                {% endfor %}
                </div>
                <a href="/projects" class="no-text-decoration">
                    <button class="see-all">All Projects</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
