/* Contact Page
	 ======================================================================== */
#contactForm {
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
	input, textarea {
		width: 100%;
		margin-bottom: 30px;
	}
	.g-recaptcha {
		width: 304px;
		margin: 10px 0 10px auto;
	}
	input[type="submit"] {
		@include space-outline-device;
		width: 304px;
		margin-left: auto;
	}
}