/* Windows divide the page vertically and each contain a wrapper
   ======================================================================== */
.window {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: $off-white;
}

.window-title, .window-first, .window-hero {
	position: relative;
	padding-top: $nav-height;
	background-color: transparent;
	color: #fff;
	.wrapper-1200 {
		display: flex;
		flex-direction: column;
	}
	h1 {
		color: #fff;
		@include text-shadow(0.6);
	}
	button.secondary {
		@include space-outline-device($off-white);
		@include space-outline-clickable;
		background-color: rgba(255, 255, 255, 0.5);
		color: #fff;

	}
}

.window-title {
	min-height: 220px;
	background: $bbn4 url($texture-geometry);
	h1 {
		margin-top: 0.3em;
		text-align: center;
	}
}

.window-first {
	background: $bbn4 url($texture-geometry);
	.wrapper-1200 {
		justify-content: center;
		z-index: 2;
		position: relative;
	}
}

.window-hero {
	justify-content: center;
	.wrapper-1200 {
		margin-bottom: 70px;
	}
}

.first-hero-image {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 70px;
	right: 0;
	background: $blue-grey2 center;
	background-size: cover;
}

@media (max-width: $break-mobile-max) {
	.window-title, .window-first {
		h1 {
			text-align: center;
			font-size: 48px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 30px;
		}
	}
	.first-hero-image {
		height: 100%;
		width: 100%;
		opacity: 0.25;
	}
	.details-box, .hero-cta {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: $break-mobile-min) {
	.window-title, .window-first {
		h1 {
			font-size: 60px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 70px;
		}
	}
	.first-hero-image {
		height: calc(100% - 70px);
		width: 0; // Set by JS
		opacity: 0.65;
		filter: brightness(0.9);
	}
}

@media (min-width: $break-window-width-min) {
	.window-first h1 {
		font-size: 72px;
	}
}

/* Wrapper to centre on wide viewports
   ======================================================================== */
@media (max-width: $break-window-width-max) {
	.wrapper-1200, .wrapper-800 {
		box-sizing: border-box;
	}
}

.wrapper-1200, .wrapper-800 {
	position: relative;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper-800 {
	max-width: 800px;
}

.wrapper-1200 {
	max-width: 1200px;
}

/* Header Content Styles
	 ======================================================================== */
.details-box {
	@include slim-outline($bbn1);
	box-sizing: border-box;
	width: 200px;
	min-height: 80px;
	padding: 15px;
	background-color: rgba(white, 0.9);
	@include drop-shadow();
	p {
		margin: 0.5em 0;
		font: bold 14px/16px $font_sans;
		padding: 0 3px;
		color: $blue-grey2;
		height: 16px;
		width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		.fas, .far, .fab {
			width: 18px;
			padding-right: 5px;
			text-align: center;
		}
	}
	p.heading {
		margin: 0.5em 0 1em;
		padding: 0;
		font-size: 16px;
		color: $off-black;
		.far, .fas, .fab {
			padding-right: 8px;
		}
	}
}

.hero-cta {
	@include layered-button;
	@include space-outline-device;
	@include space-outline-clickable;
	width: 200px;
	margin-top: 21px;
	margin-bottom: 1px;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
}

/* Card Styles
	 ======================================================================== */
.window-cards {
	padding: $vertical-space 0;
	.wrapper-1200 {
		display: flex;
		flex-direction: column;
		h2 {
			text-align: center;
		}
		.contain-cards {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}
}

.card {
	@include menu-input-base;
	@include space-outline-device($blue-grey1);
	position: relative;
	overflow: hidden;
	width: 360px;
	max-width: 100%;
	margin: 20px;
	padding: 0;
	font-weight: normal;
	@include cross-user-select(unset);
	background-color: transparent;
	a, a:hover {
		h2 {
			color: #000;
		}
	}
	p {
		margin: 17px 0;
	}
}

.card-logo, .card-icon {
	box-sizing: border-box;
	position: absolute;
	top: 38px;
	left: 35px;
	z-index: 2;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.project-card {
	@extend .card;
	.card-content {
		padding: 30px 20px 10px;
	}
	.card-logo {
		background-size: cover;
	}
}

.feed-card {
	@extend .card;
	.card-content {
		padding: 30px 20px 10px;
	}
	.card-icon {
		text-align: center;
		line-height: 100px;
		font-size: 48px;
		color: white;
		background-color: $bbn1;
		@include text-shadow(0.2);
	}
}

.card-hero-image, .card-logo {
	background: $blue-grey1 no-repeat center;
}

.card-hero-image {
	width: calc(100% - 132px);
	height: 125px;
	margin: 60px 66px 0;
	.image-container {
		width: 100%;
		height: 125px;
		background-size: cover;
		opacity: 0.45;
	}
}

.card-heading {
	@include space-outline-device($bbn1);
	position: absolute;
	top: 157px;
	left: 30px;
	width: calc(100% - 60px);
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: white;
	color: black;
	z-index: 2;
	h2 {
		display: inline;
		margin: 0;
		padding: 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-size: 25px;
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	.meta-stats {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.meta-stat {
		box-sizing: border-box;
		margin: 0 10px;
		border: 1px solid $accent-blue;
		height: 25px;
		line-height: 23px;
		font-size: 11px;
		overflow: hidden;
		text-align: center;
		text-transform: uppercase;
		background-color: $accent-blue;
		color: white;
		.far, .fas, .fab {
			margin-right: 5px;
		}
	}
	.card-bio {
		box-sizing: border-box;
		width: 100%;
		height: 120px;
		line-height: 24px;
		overflow: hidden;
		text-align: left;
		padding: 0 15px;
		position: relative;
	}
	.card-bio, p {
		font-size: 16px;
		display: block;
	}
}

@media (max-width: 460px) {
	.card {
		height: 470px;
	}
	.feed-card {
		.meta-stats {
			height: 25px;
		}
		.card-content {
			height: 230px;
		}
		.card-bio {
			height: 193px;
			margin: 22px 0 18px;
		}

	}
	.project-card {
		.meta-stats {
			height: 50px;
		}
		.card-content {
			height: 210px;
		}
		.card-bio {
			height: 120px;
			margin: 21px 0 17px;
		}
	}
	.meta-stat {
		width: calc(100% - 20px);
		margin-top: 5px !important;
	}
}

@media (min-width: 460px) {
	.card {
		height: 420px;
	}
	.feed-card {
		.card-content {
			height: 230px;
		}
		.meta-stats {
			height: 25px;
		}
		.card-bio {
			height: 168px;
			margin: 22px 0 18px;
		}
	}
	.project-card {
		.card-content {
			height: 210px;
		}
		.card-bio {
			height: 120px;
			margin: 21px 0 17px;
		}
		.meta-stats {
			height: 50px;
		}
	}
	.meta-stat {
		width: calc(50% - 20px);
	}
}

.bio-shader {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 50px;
	background-color: transparent;
	background: linear-gradient(0deg, $card-background, rgba($card-background, 0));
}

.see-all {
	margin-left: auto;
	margin-right: auto;
}

/* Collbaorator Cards
	 ======================================================================== */
.collaborator-tray {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
}

.collaborator-card {
	@include slim-outline($bbn1, 50px);
	background-color: white;
	position: relative;
	width: 304px;
	max-width: calc(100% - 40px);
	min-height: 100px;
	display: flex;
	flex-direction: row;
	margin: 10px auto;
	padding: 10px;
}

.collaborator-wallpaper {
	width: 100px;
	height: 100px;
	background-size: auto 120px;
	background-position: center;
	opacity: 0.2;
	border-radius: 25%;
}

.collaborator-image {
	position: absolute;
	top: 25px;
	left: 25px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	z-index: 2;
	overflow: hidden;
	font-size: 10px;
	@include drop-shadow;
}

.collaborator-text {
	width: 180px;
	padding: 5px 12px;
	text-align: left;
	.name {
		width: 100%;
		height: 32px;
		line-height: 32px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 24px;
		padding: 0;
	}
	.credits {
		height: 36px;
		line-height: 18px;
		font-size: 12px;
		color: $off-black;
	}
	.links {
		height: 20px;
		line-height: 20px;
		font-size: 10px;
		color: $footer-text;
		text-transform: uppercase;
		margin: 0;
		i {
			margin: 0 3px 0 0;
		}
		a {
			font-weight: 400;
			margin-right: 12px;
			color: $footer-text;
			text-decoration: none;
			&:hover {
				color: $bbn1;
			}
		}
	}
}

/* Semi-Static Components
	 ======================================================================== */
.centre-bio {
	box-sizing: border-box;
	//width: calc(100% - 100px);
	//max-width: 800px;
	margin: 10px auto;
	padding: 20px 5px;
	color: $blue-grey2;
	text-align: center;
	border-bottom: 2px solid $off-white;
	p {
		font: 16px/30px $font_sans;
		a {
			display: inline-block;
			word-break: keep-all;
		}
		i {
			font-size: 16px;
			margin: 0 5px;
		}
	}
}
@media(max-width: $break-window-width-max) {
	.centre-bio {
		width: calc(100% - 40px);
		max-width: 700px;
	}
}

@media(min-width: $break-window-width-min) {
	.centre-bio {
		width: 800px;
		max-width: calc(100% - 40px);
	}
}
.protected-warning {
	color: $bbn4;
	font-weight: bold !important;
	margin: 20px auto 40px;
}

.no-content-line {
	margin: 40px auto;
	text-align: center;
	color: $footer-text;
	font-weight: bold;

}
