/* Windows divide the page vertically and each contain a wrapper
   ======================================================================== */
.window {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

.window-title, .window-first, .window-hero {
	position: relative;
	padding-top: $nav-height;
	background-color: transparent;
	color: #fff;
	.wrapper-1200 {
		display: flex;
		flex-direction: column;
	}
	h1 {
		color: #fff;
		@include text-shadow(0.6);
	}
	button.secondary {
		color: #fff;
	}
}

.window-title {
	min-height: 220px;
	background: $bbn4 url($texture-geometry);
	h1 {
		margin-top: 0.3em;
		text-align: center;
	}
}

.window-first {
	background: $bbn4 url($texture-geometry);
	.wrapper-1200 {
		justify-content: center;
		z-index: 2;
		position: relative;
	}
}

.window-hero {
	justify-content: center;
	.wrapper-1200 {
		margin-bottom: 70px;
	}
}

.first-hero-image {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 70px;
	right: 0;
	background: $blue-grey2 center;
	background-size: cover;
}

@media (max-width: $break-mobile-max) {
	.window-title, .window-first {
		h1 {
			text-align: center;
			font-size: 48px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 30px;
		}
	}
	.first-hero-image {
		height: 100%;
		width: 100%;
		opacity: 0.25;
	}
	.details-box, .hero-cta {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: $break-mobile-min) {
	.window-title, .window-first {
		h1 {
			font-size: 60px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 70px;
		}
	}
	.first-hero-image {
		height: calc(100% - 70px);
		width: 0; // Set by JS
		opacity: 0.65;
		filter: brightness(0.9);
	}
}

@media (min-width: $break-window-width-min) {
	.window-first h1 {
		font-size: 72px;
	}
}

/* Wrapper to centre on wide viewports
   ======================================================================== */
.wrapper-1200, .wrapper-800 {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper-800 {
	max-width: 800px;
}

.wrapper-1200 {
	max-width: 1200px;
}

/* Header Content Styles
	 ======================================================================== */
.details-box {
	box-sizing: border-box;
	width: 200px;
	min-height: 80px;
	padding: 15px;
	background-color: rgba(white, 0.9);
	border-radius: $form-el-radius;
	@include drop-shadow();
	p {
		margin: 0.5em 0;
		font: bold 14px/16px $font_sans;
		padding: 0 3px;
		color: $blue-grey2;
		.fas, .far, .fab {
			width: 18px;
			padding-right: 5px;
			text-align: center;
		}
	}
	p.heading {
		margin: 0.5em 0 1em;
		padding: 0;
		font-size: 16px;
		color: $off-black;
		.far, .fas, .fab {
			padding-right: 8px;
		}
	}
}

.hero-cta {
	@include layered-button;
	width: 200px;
	margin-top: 22px;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	&:active {
		margin-top: 23px;
		margin-bottom: 21px;

	}
}

/* Card Styles
	 ======================================================================== */
.window-cards {
	padding: $vertical-space 0;
	.wrapper-1200 {
		display: flex;
		flex-direction: column;
		h2 {
			text-align: center;
		}
		.contain-cards {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}
}

.card {
	@include menu-input-base;
	@include drop-shadow;
	position: relative;
	overflow: hidden;
	width: 360px;
	max-width: 100%;
	margin: 20px;
	padding: 0;
	font-weight: normal;
	@include drop-shadow;
	@include cross-user-select(unset);
	a, a:hover {
		h2 {
			color: #000;
		}
	}
	h2 {
		width: fit-content;
		max-width: 100%;
		margin: 0 auto;
		height: 38px;
		line-height: 38px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		display: block;
	}
	p {
		margin: 17px 0;
	}
}

.card-logo, .card-icon {
	box-sizing: border-box;
	position: absolute;
	left: calc(50% - 60px);
	z-index: 2;
	width: 120px;
	height: 120px;
}

.project-card {
	@extend .card;
	.card-content {
		padding: 40px 20px 10px;
	}
	.card-logo {
		top: 40px;
		border: 5px solid #fff;
		border-radius: 50%;
		background-size: cover;
	}
}

.feed-card {
	@extend .card;
	.card-content {
		padding: 20px 20px 10px;
	}
	.card-icon {
		top: 0;
		text-align: center;
		line-height: 120px;
		font-size: 72px;
		color: white;
		@include text-shadow(0.6);
	}
}

.card-hero-image, .card-logo {
	background: $blue-grey1 no-repeat center;
}

.card-hero-image {
	width: 100%;
	height: 120px;
	background-size: cover;
	opacity: 0.65;
}

.card-content {
	display: flex;
	flex-direction: column;
	background-color: $card-background;
	h2 {
		margin-top: 0;
		text-align: center;
	}
	.meta-stats {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.meta-stat {
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		color: $blue-grey1;
		overflow: hidden;
		.far, .fas, .fab {
			width: 30px;
			text-align: center;
		}
	}
	.card-bio {
		box-sizing: border-box;
		width: 100%;
		height: 120px;
		line-height: 24px;
		overflow: hidden;
		text-align: left;
		padding: 0 8px;
		position: relative;
	}
	.card-bio, p {
		font-size: 16px;
		display: block;
	}
}

@media (max-width: 460px) {
	.card {
		height: 470px;
	}
	.feed-card {
		.meta-stats {
			height: 50px;
		}
		.card-content {
			height: 320px;
		}
		.card-bio {
			height: 193px;
			margin: 22px 0 18px;
		}

	}
	.project-card {
		.meta-stats {
			height: 100px;
		}
		.card-content {
			height: 300px;
		}
		.card-bio {
			height: 120px;
			margin: 21px 0 17px;
		}
	}
	.meta-stat {
		width: 100%;
	}
}

@media (min-width: 460px) {
	.card {
		height: 420px;
	}
	.feed-card {
		.card-content {
			height: 270px;
		}
		.meta-stats {
			height: 25px;
		}
		.card-bio {
			height: 168px;
			margin: 22px 0 18px;
		}
	}
	.project-card {
		.card-content {
			height: 250px;
		}
		.card-bio {
			height: 120px;
			margin: 21px 0 17px;
		}
		.meta-stats {
			height: 50px;
		}
	}
	.meta-stat {
		width: 50%;
	}
}

.bio-shader {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 50px;
	background-color: transparent;
	background: linear-gradient(0deg, $card-background, transparent);
}

.see-all {
	margin-left: auto;
	margin-right: auto;
}

/* Collbaorator Cards
	 ======================================================================== */
#collaboratorWrapper {
	padding: $vertical-space 0;
	margin-bottom: 10px;
	border-bottom: 2px solid $off-white;
}

.collaborator-tray {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.collaborator-card {
	position: relative;
	width: 380px;
	max-width: 100%;
	min-height: 120px;
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-radius: $form-el-radius;
	background-color: $blue-grey1;
	@include drop-shadow;
}

.collaborator-wallpaper {
	width: 120px;
	height: 120px;
	border-top-left-radius: $form-el-radius;
	border-bottom-left-radius: $form-el-radius;
	background-size: auto 120px;
	background-position: center;
	opacity: 0.7;
}

.collaborator-image {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 70px;
	height: 70px;
	border: 5px solid white;
	border-radius: 50%;
	z-index: 2;
	@include drop-shadow;
}

.collaborator-text {
	width: 240px;
	padding: 0 10px;
	background-color: $card-background;
	.name {
		width: 100%;
		height: 40px;
		line-height: 36px;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 22px;
		font-weight: bold;
		padding-top: 9px;
	}
	.credits {
		height: 40px;
		line-height: 20px;
		font-size: 14px;
		color: $off-black;
	}
	.links {
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		color: $footer-text;
		font-weight: bold;
		margin: 5px 0 0;
		i {
			margin-right: 2px;
		}
		a {
			margin-right: 8px;
			color: $footer-text;
			text-decoration: none;
			&:hover {
				color: $bbn1;
			}
		}
	}
}

/* Semi-Static Components
	 ======================================================================== */
.centre-bio {
	box-sizing: border-box;
	width: calc(100% - 100px);
	max-width: 800px;
	margin: 10px auto;
	padding: 20px 5px;
	color: $blue-grey2;
	text-align: center;
	border-bottom: 2px solid $off-white;
	p {
		font: 18px/30px $font_sans;
		a {
			display: inline-block;
			word-break: keep-all;
		}
		i {
			font-size: 16px;
			margin: 0 5px;
		}
	}
}

.protected-warning {
	color: #f00;
	font-family: $font_sans;
}

/* Contact Page
	 ======================================================================== */
#contactForm {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	input, textarea {
		width: 100%;
		margin-bottom: 30px;
	}
	.g-recaptcha {
		width: 304px;
		margin: 10px 0 10px auto;
	}
	input[type="submit"] {
		width: 304px;
		margin-left: auto;
	}
}

/* Footer and components
	 ======================================================================== */
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 25px 0 15px;
	background-color: white;
	text-align: center;
}

.footer-description, .footer-description a, .footer-buttons {
	font-size: small;
	color: $footer-text;
	line-height: 18px;
}

.footer-description {
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 10px 20px;
	font-style: italic;
}

.footer-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	a {
		color: $footer-text;
		&:hover, &:active {
			color: $bbn1;
		}
	}
	.button {
		height: 18px;
		line-height: 18px;
		font-size: small;
		.fab, .fas, .far {
			padding-right: 6px;
		}
	}
}

.footer-logo {
	height: 33px;
	font: 14px/33px $font_header;
	text-align: center;
	padding-top: 1px;
}

@media (min-width: $break-mobile-min) {
	.footer-buttons {
		height: 34px;
		.button {
			width: 100px;
			padding: 8px;
		}
	}
	.footer-logo {
		width: 100px;
	}
	.fl-tall {
		display: none;
	}
}

@media (max-width: $break-mobile-max) {
	.footer-buttons {
		flex-direction: column;
		height: auto;
		.button {
			width: 100%;
			padding: 8px 0;
		}
	}
	.footer-logo {
		width: 100%;
	}
	.fl-wide {
		display: none;
	}
}

.twitterLink:hover {
	color: $twitter-colour;
}

.instagramLink:hover {
	color: $instagram-colour;
}

.linkedinLink:hover {
	color: $linkedin-colour;
}

.githubLink:hover {
	color: $github-colour;
}
