/* Brand Fonts */
@font-face {
  font-family: "Carter One";
  src: url('../fonts/Carter_One/CarterOne.ttf');
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
  src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: normal;
  src: url('../fonts/Noto_Sans/NotoSans-Italic.ttf');
}

@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: bold;
  src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
}

@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: bold;
  src: url('../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
}

@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: normal;
  src: url('../fonts/Noto_Serif/NotoSerif-Regular.ttf');
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: normal;
  src: url('../fonts/Noto_Serif/NotoSerif-Italic.ttf');
}

@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: bold;
  src: url('../fonts/Noto_Serif/NotoSerif-Bold.ttf');
}

@font-face {
	font-family: "Noto Serif";
	font-style: italic;
	font-weight: bold;
  src: url('../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf');
}

$texture-geometry: "/static/img/subtle/inspiration-geometry.png";
$asset-play-device: "/static/img/logo_white.svg";
