$nav-height: 80px;

$logo-background: black;
$logo-colour: white;

/* Windows divide the page vertically and each contain a wrapper
   ======================================================================== */
.window {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.window-first, .window-hero {
	padding-top: $nav-height;
	background-color: $blue-grey1;
}

/* Wrapper to centre on wide viewports
   ======================================================================== */
@media (max-width: 1239px) {
  .wrapper-1200 {
		box-sizing: border-box;
    width: 100%;
		max-width: 100%;
		padding: 0 20px;
  }
}
@media (min-width: 1240px) {
  .wrapper-1200 {
    width: 1200px;
    max-width: 1200px;
		padding: 0 20px;
  }
}
.wrapper-1200 {
  margin: 0 auto;
  position: relative;
}

/* Navigation Bar
   ======================================================================== */
nav {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	height: $nav-height;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	.wrapper-1200 {
		height: $nav-height;
		display: flex;
	}
}
.nav-left, .nav-right {
	height: $nav-height;
	display: flex;
}
.nav-left {
	width: 220px;
}
.nav-right {
	flex-grow: 1;
	justify-content: flex-end;
	a {
		text-decoration: none;
	}
}
#bbncreative-logo {
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin: 10px 20px 10px 0;
	background-color: $logo-background;
	color: $logo-colour;
	text-align: center;
	font-family: $font_header;
	font-size: 28px;
	font-weight: normal;
	@include no-user-select;
}

/* Menu Buttons
   ======================================================================== */
.menu-button {
	@include menu-input-base;
	@include wide-text;
	@include drop-shadow($clickable: true);
	margin: 22px 0 22px 10px;
	color: $bbn1;
	text-align: center;
	cursor: pointer;
	&:hover {
		color: $bbn5;
	}
	&:active {
		margin: 23px 0 21px 10px;
		background-color: $off-white;
	}
}

/* Menus
   ======================================================================== */
.menu {
	@include menu-input-base;
	@include wide-text;
	@include drop-shadow($clickable: false);

	position: absolute;
	top: 80px;
	right: 0;
	z-index: 10;

	height: auto;
	padding: 0;
	width: 188px;
}

.menu-listing {
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	height: 36px;
	line-height: 36px;
	padding: 0 14px;
	cursor: pointer;
	&:hover {
		.menu-label {
			color: $bbn1;
		}
	}
	&:active {
		.menu-label {
			color: $bbn5;
		}
	}
}

.menu-icon, .menu-label {
	display: block;
	height: 36px;
}

.menu-icon {
	width: 18px;
	height: 18px;
	padding: 9px 14px 9px 0;
	display: flex;
	img {
		width: 18px;
		height: 18px;
	}
}

.menu-label {
	overflow: hidden;
	width: calc(100% - 36px);
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#menuGlobal {
	right: 20px;
}

#menuFeeds {
	right: calc(120px + 30px);
}

#menuProjects {
	right: calc(240px + 40px);
}
