$nav-height: 80px;

$logo-background: black;
$logo-colour: white;

/* Navigation Bar
   ======================================================================== */
nav {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: $nav-height;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	.wrapper-1200 {
		height: $nav-height;
		display: flex;
	}
}

.nav-left, .nav-right {
	height: $nav-height;
	display: flex;
}

.nav-left {
	width: 220px;
}

.nav-right {
	margin-left: auto;
	justify-content: flex-end;
	a {
		text-decoration: none;
	}
}

#bbncreative-logo {
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin: 10px 20px 10px 0;
	background-color: $logo-background;
	color: $logo-colour;
	text-align: center;
	font-family: $font_header;
	font-size: 28px;
	font-weight: normal;
	@include no-user-select;
}

/* Menu Buttons
   ======================================================================== */
.menu-button {
	@include layered-button;
	margin: 22px 0 22px 10px;
	&:active {
		margin: 23px 0 21px 10px;
	}
}

@media (min-width: $break-mobile) {
	#menuGlobalButton, #menuFeedsButton {
		min-width: $gl-button-width;
		width: $gl-button-width;
	}
}

.active-button {
	padding: 6px 12px;
	border: 2px solid #fff;
	background-color: $blue-grey2;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

/* Menu Display Mechanics
   ======================================================================== */
.menu-hidden {
	max-height: 0;
	opacity: 0;
}

/* Menu Design
   ======================================================================== */
#menuHolder {
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
}

.menu {
	@include menu-input-base;
	@include wide-text;
	@include drop-shadow($clickable: false);
	position: absolute;
	top: 80px;
	z-index: 10;
	overflow: hidden;
	height: auto;
	padding: 0;
	letter-spacing: 0;
}

.menu-listing, .menu-close {
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	height: 36px;
	line-height: 36px;
	padding: 0 14px;
	cursor: pointer;
	&:hover {
		.menu-label {
			color: $bbn1;
		}
	}
	&:active {
		.menu-label {
			color: $bbn5;
		}
	}
}

.menu-listing-offset {
	border-top: 1px solid $off-white;
}

.menu a {
	text-decoration: none;
}

.menu-close {
	color: $blue-grey1;
	justify-content: center;
	border-top: 1px solid $off-white;
	.far, .fas, .fab {
		line-height: 36px;
		font-size: 20px;
	}
	&:hover, &:active {
		color: $blue-grey2;
	}
}

.menu-icon, .menu-label {
	display: block;
	height: 36px;
}

.menu-icon {
	width: 18px;
	height: 18px;
	padding: 9px 14px 9px 0;
	display: flex;
	i {
		width: 18px;
		height: 18px;
		line-height: 18px;
	}
	img {
		width: 18px;
		height: 18px;
	}
}

.menu-label {
	overflow: hidden;
	width: calc(100% - 36px);
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#menuGlobal {
	right: $edge-gap;
}

#menuFeeds {
	right: $feeds-menu-offset;
}

#menuProjects {
	right: $projects-menu-offset;
}

@media (max-width: $break-mobile) {
	.menu {
		width: calc(100% - 40px);
		left: 20px;
	}
	.menu-button {
		min-width: 36px;
		width: 36px;
		padding: 8px 2px;
		overflow: hidden;
		.fas, .far, .fab {
			padding-right: 0;
		}
		span {
			display: none;
		}
	}
	#desktopMenuButtons {
		display: none;
	}
}

@media (min-width: $break-mobile) {
	.menu {
		right: 0;
		width: 188px;
	}
	#desktopMenuButtons {
		display: flex;
	}
	#mobileMenuButtons {
		display: none;
	}
	.menu-close {
		display: none;
	}
}

/* Windows divide the page vertically and each contain a wrapper
   ======================================================================== */
.window {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.window-title, .window-first, .window-hero {
	padding-top: $nav-height;
	background-color: $blue-grey1;
	color: #fff;
	.wrapper-1200 {
		display: flex;
		flex-direction: column;
	}
	h1 {
		color: #fff;
		text-shadow: 0 2px 2px rgba($off-black, 0.6);
	}
	button.secondary {
		color: white;
	}
}

.window-title {
	min-height: 220px;
	background: $bbn1 url('/static/img/subtle/inspiration-geometry.png');
	h1 {
		margin-top: 0.3em;
		text-align: center;
	}
}

.window-first {
	min-height: 525px;
	position: relative;
	.wrapper-1200 {
		justify-content: center;
		z-index: 2;
		position: relative;
	}
}

.first-hero-image {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	background: $blue-grey2 center;
	background-size: cover;
}

@media (max-width: $break-mobile) {
	.window-title, .window-first {
		h1 {
			text-align: center;
			font-size: 48px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 30px;
		}
	}
	.first-hero-image {
		height: 100%;
		width: 100%;
		opacity: 0.25;
	}
	.details-box, .hero-cta {
		margin-left: auto;
		margin-right: auto;
	}

}

@media (min-width: $break-mobile) {
	.window-title, .window-first {
		h1 {
			font-size: 60px;
		}
	}
	.window-first {
		.wrapper-1200 {
			padding-bottom: 50px;
		}
	}
	.first-hero-image {
		height: calc(100% - 70px);
		width: 0; // Set by JS
		filter: brightness(0.7);
	}
}

@media (min-width: $break-window-width) {
	.window-first h1 {
		font-size: 72px;
	}
}

/* Wrapper to centre on wide viewports
   ======================================================================== */
@media (max-width: $break-window-width-1) {
	.wrapper-1200 {
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
	}
}

@media (min-width: $break-window-width) {
	.wrapper-1200 {
		width: 1200px;
		max-width: 1200px;
		padding: 0 20px;
	}
}

.wrapper-1200 {
	margin: 0 auto;
	position: relative;
}

/* Header Content Styles
   ======================================================================== */
.details-box {
	box-sizing: border-box;
	width: 200px;
	min-height: 80px;
	padding: 15px;
	background-color: rgba(white, 0.9);
	border-radius: $form-el-radius;
	@include drop-shadow();
	p {
		margin: 0.5em 0;
		font-size: 14px;
		line-height: 16px;
		font-weight: bold;
		padding: 0 3px;
		color: $blue-grey2;
		.fas, .far, .fab {
			width: 18px;
			padding-right: 5px;
			text-align: center;
		}
	}
	p.heading {
		margin: 0.5em 0 1em;
		padding: 0;
		font-size: 16px;
		color: $off-black;
		.far, .fas, .fab {
			padding-right: 8px;
		}
	}
}

.hero-cta {
	@include layered-button;
	width: 200px;
	margin-top: 22px;
	margin-bottom: 22px;
	text-decoration: none;
	&:active {
		margin-top: 23px;
		margin-bottom: 21px;

	}
}

/* Asset Styles
   ======================================================================== */
.window[data-asset-type=image] {
	flex-direction: row;
}

.window[data-asset-type=embedded] {
	.panel-left, .panel-right {
		background-color: $blue-grey2;
		color: #fff;
	}
}

@mixin content-card() {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: $card-colour;
	overflow-x: hidden;
	h2 {
		font-family: $font_sans;
		font-weight: bold;
	}
}

.panel-full, .panel-left, .panel-right {
	@include content-card;
}

.content {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkslategrey;
}

.content img, .content iframe {
	border: 0;
	outline: none;
	max-width: 100%;
	max-height: 100%;
}

@media(max-width: $break-window-width) {
	.window[data-asset-type=image], .window[data-asset-type=embedded] {
		.wrapper-1200 {
			display: flex;
			flex-direction: column;
		}
	}
	.content {
		width: 100%;
		max-width: 700px;
		margin: 20px auto 0;
		padding: 0;
	}
	.panel-full, .panel-left, .panel-right {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 20px;
		padding: 10px 20px;
	}
	.content img, .content iframe {
		width: 100%;
	}
}

@media(min-width: $break-window-width) {
	.window[data-asset-type=image], .window[data-asset-type=embedded] {
		.wrapper-1200 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: 20px auto;
		}
	}
	.window[data-asset-type=image] {
		.content {
			position: relative;
		}
		.background-blur {
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			background-size: auto 200%;
			background: transparent no-repeat center;
			filter: blur(10px);
		}
		img {
			position: relative;
			z-index: 1;
		}
	}
	.window[data-asset-type=embedded] {
		.content {
			min-width: 540px;
		}
	}
	.content {
		width: auto;
		max-width: 75%;
		min-height: 500px;
		max-height: 650px;
		padding: 0;
	}

	.panel-full {
		width: 1000px;
		max-width: 100%;
		margin: 20px auto;
		padding: 10px 40px;
	}

	.panel-left, .panel-right {
		width: 25%;
		min-width: 250px;
		padding: 10px 40px;
		margin: 0;
		flex-grow: 1;
		overflow-wrap: break-word;
	}
}

/* Asset Styles
   ======================================================================== */
.window-cards {
	padding: 40px 0;
	background-color: $off-white;
	.wrapper-1200 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}

.card {
	@include menu-input-base;
	@include drop-shadow($clickable: false);
	position: relative;
	overflow: hidden;
	width: 360px;
	max-width: 100%;
	margin: 20px;
	padding: 0;
	font-weight: normal;
	box-shadow: 0 2px 6px rgba($off-black, 0.4);
}

@media (max-width: 460px) {
	.card {
		height: 470px;
	}
	.feed-card .card-content {
		height: 330px;
	}
	.project-card .card-content {

	}
	.meta-stats {
		height: 100px;
		.meta-stat {
			width: 100%;
		}
	}
}

@media (min-width: 460px) {
	.card {
		height: 420px;
	}
	.feed-card .card-content {
		height: 280px;
	}
	.project-card .card-content {

	}
	.meta-stats {
		height: 50px;
		.meta-stat {
			width: 50%;
		}
	}
}

.card-logo, .card-icon {
	box-sizing: border-box;
	position: absolute;
	left: calc(50% - 60px);
	z-index: 2;
	width: 120px;
	height: 120px;
}

.project-card {
	@extend .card;
	.card-content {
		padding: 40px 20px 10px;
	}
	.card-logo {
		top: 40px;
		border: 5px solid #fff;
		border-radius: 50%;
		background-size: cover;
	}
}

.feed-card {
	@extend .card;
	.card-content {
		padding: 10px 20px;
	}
	.card-icon {
		top: 0;
		text-align: center;
		line-height: 120px;
		font-size: 72px;
	}
}

.card-hero-image, .card-logo {
	background: $blue-grey1 no-repeat center;
}

.card-hero-image {
	width: 100%;
	height: 120px;
	background-size: cover;
	opacity: 0.65;
}

.card-content {
	background-color: #fff;
	h2 {
		margin-top: 0;
		text-align: center;
	}
	.meta-stats {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.meta-stat {
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		color: $blue-grey1;
		overflow: hidden;
		.far, .fas, .fab {
			width: 30px;
			text-align: center;
		}
	}
	.card-bio {
		box-sizing: border-box;
		width: 100%;
		line-height: 24px;
		height: 120px;
		margin: 21px 0 17px;
		overflow: hidden;
		text-align: left;
		padding: 0 8px;
	}
	p {
		font-size: 16px;
		display: block;
	}
}

/* Semi-Static Components
	 ======================================================================== */
.centre-bio {
	box-sizing: border-box;
	width: calc(100% - 100px);
	margin: 30px 50px;
	padding: 10px 5px;
	color: $blue-grey2;
	text-align: center;
	border-top: 1px solid $off-white;
	border-bottom: 1px solid $off-white;
	p {
		font-family: $font_serif;
		font-size: 20px;
		line-height: 22px;
	}
}

.protected-warning {
	color: red;
	font-family: $font_sans;
}

/* Footer and components
	 ======================================================================== */
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 25px 0 15px;
}

.footer-description, .footer-buttons {
	font-size: small;
	color: $footer-text;
	line-height: 18px;
}

.footer-description {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	margin: 8px 0;
	padding: 10px 20px;
	font-style: italic;
}

.footer-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	a {
		color: $footer-text;
		&:hover, &:active {
			color: $bbn1;
		}
	}
	.button {
		height: 18px;
		line-height: 18px;
		font-size: small;
		text-align: center;
		.fab, .fas, .far {
			padding-right: 6px;
		}
	}
}

.footer-logo {
	height: 33px;
	font-family: $font_header;
	font-size: 14px;
	line-height: 33px;
	text-align: center;
	padding-top: 1px;
}

@media (min-width: $break-mobile) {
	.footer-buttons {
		height: 34px;
		.button {
			width: 100px;
			padding: 8px;
		}
	}
	.footer-logo {
		width: 100px;
	}
	.fl-tall {
		display: none;
	}
}

@media (max-width: $break-mobile) {
	.footer-buttons {
		flex-direction: column;
		.button {
			width: 100%;
			padding: 8px 0;
		}
	}
	.footer-logo {
		width: 100%;
	}
	.fl-wide {
		display: none;
	}
}

#twitterLink:hover {
	color: $twitter-color;
}

#instagramLink:hover {
	color: $instagram-color;
}

#linkedinLink:hover {
	color: $linkedin-color;
}