/*

bbncreative CSS by Aaron Cawte.

This stylesheet utilises the RDS structure as specified below.

| Resources       | Definitions              | Structure         |
|=================|==========================|===================|
| - Font Imports  | - Colour codes           | - Shape and size  |
| - Image URLs    | - CSS Resets & Defaults  | - Positioning     |
|                 | - SCSS Mixins            | - Visibility      |

The dependency of these elements is R <- D <- S.
- Resources defines external references to fonts, static images etc.
- Definitions styles standard elements (e.g. input fields).
- Structure defines custom elements for the page and structures is visually.

 */
/* Brand Fonts */
@font-face {
  font-family: "Carter One";
  src: url("../fonts/Carter_One/CarterOne.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Noto_Sans/NotoSans-Italic.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf"); }
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Noto_Sans/NotoSans-BoldItalic.ttf"); }
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf"); }
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Noto_Serif/NotoSerif-Italic.ttf"); }
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Noto_Serif/NotoSerif-Bold.ttf"); }
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Noto_Serif/NotoSerif-BoldItalic.ttf"); }
/* Colour References
  ========================================================================= */
/* Font References
  ========================================================================= */
/* UI Component Definitions
  ========================================================================= */
/* UI Viewport Definitions
  ========================================================================= */
/* SCSS Mixins
  ========================================================================= */
/* Resets and basic elements
   ======================================================================== */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px; }

h1 {
  color: #e81841; }

h1, h2 {
  margin: 0.5em 0 0.25em;
  font-family: "Carter One", sans-serif; }

h3, h4 {
  margin: 1em 0 0.75em; }

h5 {
  font-size: 1em; }

h5, h6 {
  margin: 1.5em 0 0.75em;
  font-family: "Noto Serif", serif;
  color: #455a64;
  font-style: italic; }

p {
  margin-top: 0.5em; }

a {
  color: initial;
  font-weight: bold; }
  a:hover {
    color: #e81841;
    text-decoration: none; }
  a:active {
    color: #ff1a36; }

a.no-text-decoration:link, a.no-text-decoration:hover, a.no-text-decoration:active, a.no-text-decoration:visited {
 text-decoration: none;
}

/* Element selection
   ======================================================================== */
html::-moz-selection, body::-moz-selection, p::-moz-selection, strong::-moz-selection, em::-moz-selection, span::-moz-selection, a::-moz-selection, img::-moz-selection, div::-moz-selection, button::-moz-selection, input::-moz-selection, label::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background-color: #cc2369;
  color: #fff; }
html::selection, body::selection, p::selection, strong::selection, em::selection, span::selection, a::selection, img::selection, div::selection, button::selection, input::selection, label::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: #cc2369;
  color: #fff; }

p .fas, p .far, p .fab, span .fas, span .far, span .fab, h1 .fas, h1 .far, h1 .fab, h2 .fas, h2 .far, h2 .fab, h3 .fas, h3 .far, h3 .fab, h4 .fas, h4 .far, h4 .fab, h5 .fas, h5 .far, h5 .fab, h6 .fas, h6 .far, h6 .fab {
 margin-right: 0.4em;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Form Elements
	 ======================================================================== */
input[type=text], input[type=email], input[type=tel], input[type=number],
input[type=search], input[type=password], select {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin: 8px 0 9px;
  -webkit-appearance: none;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  border: 1px solid #e5e5e5; }

input[type=date], input[type=datetime-local], input[type=week], input[type=month], input[type=time], input[type=range], input[type=color] {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin: 8px 0 9px;
  -webkit-appearance: none;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px; }

label {
  display: block;
  margin: 10px 0 0;
  color: #455a64;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

input[type=submit], input[type=reset], button {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin: 8px 0 9px;
  -webkit-appearance: none;
  background-color: #e81841;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  cursor: pointer; }
  input[type=submit]:active, input[type=reset]:active, button:active {
    box-shadow: rgba(22, 22, 22, 0.4) 0 0 1px; }
  input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color: #ff2761; }
  input[type=submit]:active, input[type=reset]:active, button:active {
    background-color: #cc2369;
    margin: 9px 0 8px; }
  input[type=submit]:disabled, input[type=reset]:disabled, button:disabled {
    background-color: #e5e5e5;
    color: #161616; }

input[type=submit] .fas, input[type=submit] .far, input[type=submit] .fab, input[type=reset] .fas, input[type=reset] .far, input[type=reset] .fab, button .fas, button .far, button .fab {
 padding-right: 5px;
}

input[type=submit]:active {
  margin: 10px 0 7px; }

input[type=reset], button.secondary {
  background-color: transparent;
  color: #455a64;
  box-shadow: none; }

input[type=reset]:hover, input[type=reset]:active, button.secondary:hover, button.secondary:active {
    background-color: transparent;
    color: #263238;
    box-shadow: none; }

/* Navigation Bar
   ======================================================================== */
nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  nav .wrapper-1200 {
    height: 80px;
    display: flex; }

.nav-left, .nav-right {
  height: 80px;
  display: flex; }

.nav-left {
  width: 220px; }

.nav-right {
  margin-left: auto;
  justify-content: flex-end; }
  .nav-right a {
    text-decoration: none; }

#bbncreative-logo {
  width: 200px;
  height: 60px;
  line-height: 60px;
  margin: 10px 20px 10px 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Carter One", sans-serif;
  font-size: 28px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Menu Buttons
   ======================================================================== */
.menu-button {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  text-align: center;
  cursor: pointer;
  color: #e81841;
 margin: 22px 0 22px 10px;
}
  .menu-button:active {
    box-shadow: rgba(22, 22, 22, 0.4) 0 0 1px; }
  .menu-button:hover {
    color: #ff1a36; }
  .menu-button:active {
    background-color: #e5e5e5; }

.menu-button .fas, .menu-button .far, .menu-button .fab {
 padding-right: 5px;
}

.menu-button:active {
 margin: 23px 0 21px 10px;
}

@media (min-width: 690px) {
  #menuGlobalButton, #menuFeedsButton {
    min-width: 100px;
	 width: 100px;
	}
}
.active-button {
  padding: 6px 12px;
  border: 2px solid #fff;
  background-color: #263238;
  color: #fff; }
  .active-button:hover {
    color: #fff; }

/* Menu Display Mechanics
   ======================================================================== */
.menu-hidden {
  max-height: 0;
  opacity: 0; }

/* Menu Design
   ======================================================================== */
#menuHolder {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%; }

.menu {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  position: absolute;
  top: 80px;
  z-index: 10;
  overflow: hidden;
  height: auto;
  padding: 0;
 letter-spacing: 0;
}

.menu-listing, .menu-close {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  cursor: pointer; }

.menu-listing:hover .menu-icon, .menu-listing:hover .menu-label, .menu-close:hover .menu-icon, .menu-close:hover .menu-label {
    color: #e81841; }

.menu-listing:active .menu-icon, .menu-listing:active .menu-label, .menu-close:active .menu-icon, .menu-close:active .menu-label {
    color: #ff1a36; }

.menu-listing-offset {
 border-top: 1px solid #e5e5e5;
}

.menu a {
  text-decoration: none; }

.menu-close {
  color: #455a64;
  border-top: 1px solid #e5e5e5; }

.menu-close:hover .menu-icon, .menu-close:hover .menu-label, .menu-close:active .menu-icon, .menu-close:active .menu-label {
    color: #263238; }

.menu-icon, .menu-label {
  display: block;
  height: 36px; }

.menu-icon {
  width: 18px;
  height: 18px;
  padding: 9px 14px 9px 0;
  display: flex; }

.menu-icon i {
 width: 18px;
 height: 18px;
 line-height: 18px;
}
  .menu-icon img {
    width: 18px;
    height: 18px; }

.menu-label {
  overflow: hidden;
  width: calc(100% - 36px);
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

#menuGlobal {
  right: 20px; }

#menuFeeds {
 right: 130px;
}

#menuProjects {
 right: 240px;
}

@media (max-width: 690px) {
  .menu {
    width: calc(100% - 40px);
    left: 20px; }

  .menu-button {
    min-width: 36px;
    width: 36px;
    padding: 8px 2px;
    overflow: hidden; }

 .menu-button .fas, .menu-button .far, .menu-button .fab {
	padding-right: 0;
 }

 .menu-button span {
	display: none;
 }

  #desktopMenuButtons {
    display: none; } }
@media (min-width: 690px) {
  .menu {
    right: 0;
    width: 188px; }

  #desktopMenuButtons {
    display: flex; }

  #mobileMenuButtons {
    display: none; }

  .menu-close {
    display: none; } }
/* Windows divide the page vertically and each contain a wrapper
   ======================================================================== */
.window {
  width: 100%;
  display: flex;
  flex-direction: column;
 background-color: #fff;
}

.window-title, .window-first, .window-hero {
  padding-top: 80px;
 background-color: transparent;
 color: #fff;
}

.window-title .wrapper-1200, .window-first .wrapper-1200, .window-hero .wrapper-1200 {
 display: flex;
 flex-direction: column;
}

.window-title h1, .window-first h1, .window-hero h1 {
 color: #fff;
 text-shadow: 0 2px 2px rgba(22, 22, 22, 0.6);
}

.window-title button.secondary, .window-first button.secondary, .window-hero button.secondary {
 color: #fff;
}

.window-title {
  min-height: 220px;
 background: #e81841 url("/static/img/subtle/inspiration-geometry.png");
}

.window-title h1 {
 margin-top: 0.3em;
 text-align: center;
}

.window-first {
  min-height: 525px;
 position: relative;
}

.window-first .wrapper-1200 {
 justify-content: center;
 z-index: 2;
 position: relative;
}

.window-hero {
 position: relative;
 justify-content: center;
}

.first-hero-image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #263238 center;
 background-size: cover;
}

@media (max-width: 690px) {
  .window-title h1, .window-first h1 {
    text-align: center;
	 font-size: 48px;
	}

  .window-first .wrapper-1200 {
	 padding-bottom: 30px;
	}

  .first-hero-image {
    height: 100%;
    width: 100%;
	 opacity: 0.25;
	}

  .details-box, .hero-cta {
    margin-left: auto;
	 margin-right: auto;
	}
}
@media (min-width: 690px) {
  .window-title h1, .window-first h1 {
	 font-size: 60px;
	}

  .window-first .wrapper-1200 {
	 padding-bottom: 50px;
	}

  .first-hero-image {
    height: calc(100% - 70px);
    width: 0;
	 filter: brightness(0.7);
	}
}
@media (min-width: 1280px) {
  .window-first h1 {
	 font-size: 72px;
	}
}
/* Wrapper to centre on wide viewports
   ======================================================================== */
@media (max-width: 1279px) {
  .wrapper-1200 {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
	 padding: 0 20px;
	}
}
@media (min-width: 1280px) {
  .wrapper-1200 {
    width: 1200px;
    max-width: 1200px;
	 padding: 0 20px;
	}
}
.wrapper-1200 {
  margin: 0 auto;
 position: relative;
}

/* Header Content Styles
   ======================================================================== */
.details-box {
  box-sizing: border-box;
  width: 200px;
  min-height: 80px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
 box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
}

.details-box p {
 margin: 0.5em 0;
 font-size: 14px;
 line-height: 16px;
 font-weight: bold;
 padding: 0 3px;
 color: #263238;
}

.details-box p .fas, .details-box p .far, .details-box p .fab {
 width: 18px;
 padding-right: 5px;
 text-align: center;
}

.details-box p.heading {
 margin: 0.5em 0 1em;
 padding: 0;
 font-size: 16px;
 color: #161616;
}

.details-box p.heading .far, .details-box p.heading .fas, .details-box p.heading .fab {
 padding-right: 8px;
}

.hero-cta {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  text-align: center;
  cursor: pointer;
  color: #e81841;
  width: 200px;
  margin-top: 22px;
  margin-bottom: 22px;
 text-decoration: none;
}

.hero-cta:active {
 box-shadow: rgba(22, 22, 22, 0.4) 0 0 1px;
}

.hero-cta:hover {
 color: #ff1a36;
}

.hero-cta:active {
 background-color: #e5e5e5;
}

.hero-cta .fas, .hero-cta .far, .hero-cta .fab {
 padding-right: 5px;
}

.hero-cta:active {
 margin-top: 23px;
 margin-bottom: 21px;
}

/* Asset Styles
   ======================================================================== */
.window[data-asset-type=image] {
 flex-direction: row;
}

.window[data-asset-type=embedded] .panel-left, .window[data-asset-type=embedded] .panel-right {
  background-color: #263238;
 color: #fff;
}

.panel-full, .panel-left, .panel-right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #e5e5e5;
 overflow-x: hidden;
}

.panel-full h2, .panel-left h2, .panel-right h2 {
 font-family: "Noto Sans", sans-serif;
 font-weight: bold;
}

.content {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #263238;
}

.content img, .content iframe {
  border: 0;
  outline: none;
  max-width: 100%;
 max-height: 100%;
}

@media (max-width: 1280px) {
  .window[data-asset-type=image] .wrapper-1200, .window[data-asset-type=embedded] .wrapper-1200 {
    display: flex;
	 flex-direction: column;
	}

  .content {
    width: 100%;
    max-width: 700px;
    margin: 20px auto 0;
	 padding: 0;
	}

  .panel-full, .panel-left, .panel-right {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 20px;
	 padding: 10px 20px;
	}

  .content img, .content iframe {
	 width: 100%;
	}
}
@media (min-width: 1280px) {
  .window[data-asset-type=image] .wrapper-1200, .window[data-asset-type=embedded] .wrapper-1200 {
    display: flex;
    flex-direction: row;
    justify-content: center;
	 margin: 20px auto;
	}

  .window[data-asset-type=image] .content {
	 position: relative;
	}
  .window[data-asset-type=image] .background-blur {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-size: auto 200%;
    background: transparent no-repeat center;
	 filter: blur(10px);
	}
  .window[data-asset-type=image] img {
    position: relative;
	 z-index: 1;
	}

  .window[data-asset-type=embedded] .content {
	 min-width: 540px;
	}

  .content {
    width: auto;
    max-width: 75%;
    min-height: 500px;
    max-height: 650px;
	 padding: 0;
	}

  .panel-full {
    width: 1000px;
    max-width: 100%;
    margin: 20px auto;
	 padding: 10px 40px;
	}

  .panel-left, .panel-right {
    width: 25%;
    min-width: 250px;
    padding: 10px 40px;
    margin: 0;
    flex-grow: 1;
	 overflow-wrap: break-word;
	}
}
/* Asset Styles
   ======================================================================== */
.window-cards {
  padding: 40px 0;
 background-color: #e5e5e5;
}

.window-cards .wrapper-1200 {
 display: flex;
 flex-direction: column;
}

.window-cards .wrapper-1200 .contain-cards {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-evenly;
}

.card, .project-card, .feed-card {
  box-sizing: border-box;
  height: 36px;
  min-width: 120px;
  padding: 8px 14px;
  border: 0;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: rgba(22, 22, 22, 0.4) 0 2px 1px;
  position: relative;
  overflow: hidden;
  width: 360px;
  max-width: 100%;
  margin: 20px;
  padding: 0;
  font-weight: normal;
  box-shadow: 0 2px 6px rgba(22, 22, 22, 0.4);
  -webkit-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
 user-select: unset;
}

.card a:hover h2, .project-card a:hover h2, .feed-card a:hover h2 {
 color: #000;
 border-color: #ff1a36;
}

.card h2, .project-card h2, .feed-card h2 {
 width: fit-content;
 max-width: 100%;
 margin: 0 auto 4px;
 border-bottom: 4px solid #e5e5e5;
 height: 34px;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 display: block;
}

@media (max-width: 460px) {
  .card, .project-card, .feed-card {
	 height: 470px;
	}

  .feed-card .card-content {
	 height: 330px;
	}

  .meta-stats {
	 height: 100px;
	}

 .meta-stats .meta-stat {
	width: 100%;
 }
}
@media (min-width: 460px) {
  .card, .project-card, .feed-card {
	 height: 420px;
	}

  .feed-card .card-content {
	 height: 280px;
	}

  .meta-stats {
	 height: 50px;
	}

 .meta-stats .meta-stat {
	width: 50%;
 }
}
.card-logo, .card-icon {
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 60px);
  z-index: 2;
  width: 120px;
 height: 120px;
}

.project-card .card-content {
 padding: 40px 20px 10px;
}
.project-card .card-logo {
  top: 40px;
  border: 5px solid #fff;
  border-radius: 50%;
 background-size: cover;
}

.feed-card .card-content {
 padding: 10px 20px;
}
.feed-card .card-icon {
  top: 0;
  text-align: center;
  line-height: 120px;
 font-size: 72px;
}

.card-hero-image, .card-logo {
 background: #455a64 no-repeat center;
}

.card-hero-image {
  width: 100%;
  height: 120px;
  background-size: cover;
 opacity: 0.65;
}

.card-content {
  display: flex;
  flex-direction: column;
 background-color: #fff;
}

.card-content h2 {
 margin-top: 0;
 text-align: center;
}

.card-content .meta-stats {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}

.card-content .meta-stat {
 height: 25px;
 line-height: 25px;
 font-size: 14px;
 color: #455a64;
 overflow: hidden;
}

.card-content .meta-stat .far, .card-content .meta-stat .fas, .card-content .meta-stat .fab {
 width: 30px;
 text-align: center;
}

.card-content .card-bio {
 box-sizing: border-box;
 width: 100%;
 line-height: 24px;
 height: 120px;
 margin: 21px 0 17px;
 overflow: hidden;
 text-align: left;
 padding: 0 8px;
}

.card-content p {
 font-size: 16px;
 display: block;
}

/* Semi-Static Components
	 ======================================================================== */
.centre-bio {
  box-sizing: border-box;
  width: calc(100% - 100px);
  margin: 30px 50px;
  padding: 10px 5px;
  color: #263238;
  text-align: center;
  border-top: 1px solid #e5e5e5;
 border-bottom: 1px solid #e5e5e5;
}

.centre-bio p {
 font-family: "Noto Serif", serif;
 font-size: 20px;
 line-height: 22px;
}

.protected-warning {
 color: #f00;
 font-family: "Noto Sans", sans-serif;
}

/* Hero Video
	 ======================================================================== */
#videoLayerBox {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
 background: #e8185f url("/static/img/subtle/inspiration-geometry.png");
}

.videoLayer {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#videoLayerMedia {
 z-index: 1;
}

#videoLayerMedia video {
 width: 100%;
 height: 100%;
 object-fit: cover;
 filter: brightness(80%);
}

#videoLayerTint {
 z-index: 2;
 background-color: #e8185f;
 opacity: 0.75;
}

#videoLayerFrame {
 z-index: 3;
 background: transparent center no-repeat url("/static/img/logo_white.svg");
 -webkit-background-size: 350%;
 background-size: 350%;
 opacity: 0.4;
}

/* Press Play Hero
   ======================================================================== */
.heroHeadline, .heroTagline {
 width: 600px;
 max-width: 100%;
 margin: 0 auto;
 text-align: center;
}

.heroHeadline {
 position: relative;
 padding: 25px 0 10px;
}

.heroTagline {
 box-sizing: border-box;
 padding: 20px 2%;
 line-height: 30px;
 font-size: 18px;
 text-shadow: 0 2px 2px rgba(22, 22, 22, 0.4);
 border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.heroScroll {
 position: absolute;
 bottom: 20px;
 width: 100%;
 height: 50px;
 line-height: 50px;
 margin: 0;
 text-align: center;
 color: rgba(255, 255, 255, 0.6);
}

.heroScroll p {
 margin: 0;
 cursor: pointer;
}

.heroScroll p:hover {
 color: #fff;
}

.heroScroll p i {
 margin: 0 8px;
}

#textPress, #textPlay {
 position: absolute;
 width: 55%;
 font-family: "Carter One", sans-serif;
 text-shadow: 0 2px 2px rgba(22, 22, 22, 0.6);
}

#textPress {
 bottom: 45%;
 left: 0;
 text-align: right;
}

#textPlay {
 top: 45%;
 right: 0;
 text-align: left;
}

@media (min-width: 690px) {
 .heroHeadline {
	height: 250px;
 }

 #textPress, #textPlay {
	height: 125px;
	line-height: 125px;
	font-size: 96px;
 }
}
@media (max-width: 690px) {
 .heroHeadline {
	height: 200px;
 }

 #textPress, #textPlay {
	height: 100px;
	line-height: 100px;
	font-size: 64px;
 }
}
/* Footer and components
	 ======================================================================== */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
 padding: 25px 0 15px;
 background-color: white;
}

.footer-description, .footer-description a, .footer-buttons {
  font-size: small;
  color: #aaa;
 line-height: 18px;
}

.footer-description {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin: 8px 0;
  padding: 10px 20px;
 font-style: italic;
}

.footer-buttons {
  display: flex;
  justify-content: center;
 width: 100%;
}

.footer-buttons a {
 color: #aaa;
}

.footer-buttons a:hover, .footer-buttons a:active {
 color: #e81841;
}

.footer-buttons .button {
 height: 18px;
 line-height: 18px;
 font-size: small;
 text-align: center;
}

.footer-buttons .button .fab, .footer-buttons .button .fas, .footer-buttons .button .far {
 padding-right: 6px;
}

.footer-logo {
  height: 33px;
  font-family: "Carter One", sans-serif;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
 padding-top: 1px;
}

@media (min-width: 690px) {
  .footer-buttons {
	 height: 34px;
	}

 .footer-buttons .button {
	width: 100px;
	padding: 8px;
 }

  .footer-logo {
	 width: 100px;
	}

  .fl-tall {
	 display: none;
	}
}
@media (max-width: 690px) {
  .footer-buttons {
	 flex-direction: column;
	}

 .footer-buttons .button {
	width: 100%;
	padding: 8px 0;
 }

  .footer-logo {
	 width: 100%;
	}

  .fl-wide {
	 display: none;
	}
}
#twitterLink:hover {
 color: #1da1f2;
}

#instagramLink:hover {
 color: #833ab4;
}

#linkedinLink:hover {
 color: #0077b5;
}

/*# sourceMappingURL=style.css.map */
