{% with title="bbncreative" color="#e81941" description="Digital experiences through design, media and interaction. Thinking outside the screen, by Aaron Cawte." %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {% load static %}
        <!--Metadata-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Aaron Cawte">
        <meta name="description" content="{{ description }}">
        <meta name="keywords"
              content="bbncreative, bbn, creative, bright, night, digital, experiences, ux, design, media, interaction, screen, Aaron, Cawte">
        <meta name="theme-color" content="{{ color }}">

        <meta name="application-name" content="{{ title }}"/>
        <meta name="msapplication-square70x70logo" content="{% static "img/win-tiles/small.jpg" %}"/>
        <meta name="msapplication-square150x150logo" content="{% static "img/win-tiles/medium.jpg" %}"/>
        <meta name="msapplication-wide310x150logo" content="{% static "img/win-tiles/wide.jpg" %}"/>
        <meta name="msapplication-square310x310logo" content="{% static "img/win-tiles/large.jpg" %}"/>
        <meta name="msapplication-TileColor" content="{{ color }}"/>

        <!--External Resources-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
              integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
              crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        <!--Internal Resources-->
        <link rel="manifest" href="{% static "manifest.json" %}">
        <link rel="shortcut icon" href="{% static "img/icon.ico" %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static "img/appletouchicon.png" %}">
        <link rel="stylesheet" href="/static/style/style.min.css" type="text/css">
        <script src="/static/js/ui.js"></script>

        <!--Dynamic Resources-->
        {% block head-content %}
        {% endblock %}

        <!--Page Title-->
        <title>{{ title }}</title>
    </head>
        {% if logo_custom_color %}
            <body style="--selection-color: rgba{{ logo_custom_color }}; --selection-color-outline: rgba{{ color_outline_in_rgba }}">
        {% else %}
            <body>
        {% endif %}
    {% include "components/_nav.html" %}
    {% block body-content %}{% endblock %}
    {% include "components/_footer.html" %}
    </body>
    </html>
{% endwith %}