{% extends "_static.html" %}
{% block window-content %}
    <div class="window">
        <div class="wrapper-1200">
            <div class="centre-bio">
                <p>Interested in working together, or just want to get in touch?<br>Fill in this form and I'll be back
                    in touch
                as quick as possible!</p>
            </div>
            <form action="/contact" method="POST" id="contactForm">
                {% csrf_token %}
                {{ form }}

                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>

                <input type="submit" value="Send Message"/>
            </form>
        </div>
        <div class="centre-bio">
            <p>You can see more of bbncreative on Twitter, or of Aaron on Twitter, Instagram, LinkedIn, and GitHub.</p>
        </div>
    </div>
{% endblock %}
