{% extends "base.html" %}
{% block body-content %}
    <div class="window window-first">
        <div class="first-hero-image"></div>
        <div class="wrapper-1200">
            <a href="/feeds" class="no-text-decoration">
                <button class="secondary"><i class="fas fa-arrow-left"></i>Back to Feeds</button>
            </a>
            <h1>{{ feed.name }}</h1>
        </div>
    </div>
    <div class="wrapper-1200">
        <div class="centre-bio">
            {% if feed.protected %}
                <p class="protected-warning"><strong>This feed is protected and only visible to visitors with its
                    URL.</strong></p>
            {% endif %}
            <h3><i class="fas fa-newspaper"></i>Feed Details</h3>
            <p>{{ feed.bio }}</p>
        </div>
    </div>
    {% for a in assets %}
        {% with asset=a.0 %}
            {% if a.1 == "Text" %}
                {% include "components/_textAssetSummary.html" %}
            {% elif a.1 == "Image" %}
                {% include "components/_imageAssetSummary.html" %}
            {% else %}
                {% autoescape off %}
                    {% include "components/_embeddedAssetSummary.html" %}
                {% endautoescape %}
            {% endif %}
        {% endwith %}
    {% endfor %}

{% endblock %}
