{% extends "base.html" %}
{% block body-content %}
    <div class="window window-first">
        <div class="first-hero-image"></div>
        <div class="wrapper-1200">
            <a href="/feeds">Back to Feeds</a>
            <h1>{{ feed.name }}</h1>
            <p><i class="fas fa-newspaper"></i>Feed Details</p>
            <p>Bio: {{ feed.bio }}</p>
        </div>
    </div>
    {% for a in assets %}
        {% with asset=a.0 %}
            {% if a.1 == "Text" %}
                {% include "components/_textAssetSummary.html" %}
            {% elif a.1 == "Image" %}
                {% include "components/_imageAssetSummary.html" %}
            {% else %}
                {% autoescape off %}
                    {% include "components/_embeddedAssetSummary.html" %}
                {% endautoescape %}
            {% endif %}
        {% endwith %}
    {% endfor %}

{% endblock %}
