{% extends "base.html" %}
{% block body-content %}
    <div id="videoLayerBox">
        <div id="videoLayerMedia" class="videoLayer">
            <video src="static/vid/wallpaper.mp4" preload="none" autoplay loop muted></video>
        </div>
        <div id="videoLayerTint" class="videoLayer"></div>
        <div id="videoLayerFrame" class="videoLayer"></div>

    </div>
    <div class="window window-hero">
        <div class="wrapper-1200">
            <div class="heroHeadline">
                <div id="textPress">Press</div>
                <div id="textPlay">Play.</div>
            </div>
            <div class="heroTagline">You're looking at the new bbncreative custom CMS.</div>
            <div class="heroScroll">Scroll</div>
        </div>
    </div>
    <div class="window">
        <div class="wrapper-1200">
            <div class="centre-bio">
                <h3>Welcome to bbncreative</h3>
                <p>You're looking at the new bbncreative custom CMS.</p>
                <a href="/testpage">Test Page</a>
            </div>
        </div>
    </div>

    <div class="window window-cards">
        <div class="wrapper-1200">
            <h2>What I Do</h2>
            <div class="contain-cards">
                {% for feed in front_page_feeds %}
                    {% include "components/_feedSummary.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="window window-cards">
        <div class="wrapper-1200">
            <h2>What I'm Working On</h2>
            <div class="contain-cards">
                {% for project in front_page_projects %}
                    {% include "components/_projectSummary.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
