{% extends "_base.html" %}
{% load static %}

{% block head-content %}
    <meta property="og:url" content="https://bbncreative.co/projects/{{ project.url_name }}"/>
    <meta property="og:title" content="{{ project.name }}"/>
    <meta property="og:description" content="{{ project.bio }}"/>
    <meta property="og:image" content="{% get_media_prefix %}{{ project.hero }}"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="bbncreative"/>
{% endblock %}

{% block body-content %}
    {% if project.brand_color_2|length > 0 %}
        <div class="window window-first"
             style="background-image: linear-gradient(135deg, #{{ project.brand_color_1 }}, #{{ project.brand_color_2 }});">
    {% else %}
        <div class="window window-first" style="background-color: #{{ project.brand_color_1 }};">
    {% endif %}
        <div class="first-hero-image" style="background-image: url('{% get_media_prefix %}{{ project.hero }}');"></div>
        <div class="wrapper-1200">
            <a href="/projects" class="no-text-decoration">
                <button class="secondary" id="backTo"><i class="fas fa-arrow-left"></i>Back to Projects</button>
            </a>
            <h1>{{ project.name }}</h1>
            <div class="details-box">
                <p class="heading"><i class="fas fa-project-diagram"></i>Project Details</p>
                {% if project.is_complete %}
                    <p><i class="fas fa-flag-checkered"></i>{{ project.date_complete }}</p>
                {% else %}
                    <p><i class="fas fa-clock"></i>Ongoing project</p>
                {% endif %}
                <p><i class="fas fa-user-tie"></i>{{ project.client_name }}</p>
                {% if collaborator_count > 1 %}
                    <p><i class="fas fa-users"></i> {{ collaborator_count }} collaborators</p>
                {% elif collaborator_count == 1 %}
                    <p><i class="fas fa-users"></i>1 Collaborator</p>
                {% else %}
                    <p><i class="fas fa-users"></i>Independent Work</p>
                {% endif %}
            </div>
            <a href="{{ project.cta_url }}" class="no-text-decoration" target="_blank" rel="noopener noreferrer">
                <div class="hero-cta" style="background-color: #{{ project.brand_color_1 }}; color: #fff;"><i
                        class="fas fa-external-link-alt"></i>{{ project.cta_title }}
                </div>
            </a>
        </div>
    </div>
    {% for a in assets %}
        {% with asset=a.0 %}
            {% if a.1 == "Text" %}
                {% include "components/_textAssetSummary.html" %}
            {% elif a.1 == "Image" %}
                {% include "components/_imageAssetSummary.html" %}
            {% else %}
                {% autoescape off %}
                    {% include "components/_embeddedAssetSummary.html" %}
                {% endautoescape %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}
