{% extends "base.html" %}
{% block body-content %}
    <div class="window window-first">
        <div class="first-hero-image"></div>
        <div class="wrapper-1200">
            <a href="/projects">Back to Projects</a>
            <h1>{{ project.name }}</h1>
            <div class="details-box">
                <p class="heading"><i class="fas fa-project-diagram"></i>Project Details</p>
                {% if project.is_complete %}
                    <p><i class="fas fa-flag-checkered"></i>{{ project.date_complete }}</p>
                {% else %}
                    <p><i class="fas fa-clock"></i>Ongoing project</p>
                {% endif %}
                <p><i class="fas fa-user-tie"></i>{{ project.client_name }}</p>
                <p><i class="fas fa-users"></i>Collaborators</p>
            </div>
            <a href="{{ project.project_url }}" class="hero-cta-anchor">
                <div class="hero-cta"><i class="fas fa-external-link-alt"></i>Check It Out</div>
            </a>
        </div>
    </div>
    {% for a in assets %}
        {% with asset=a.0 %}
            {% if a.1 == "Text" %}
                {% include "components/_textAssetSummary.html" %}
            {% elif a.1 == "Image" %}
                {% include "components/_imageAssetSummary.html" %}
            {% else %}
                {% autoescape off %}
                    {% include "components/_embeddedAssetSummary.html" %}
                {% endautoescape %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}
