{% extends "_base.html" %}
{% block body-content %}
    <div class="window window-title">
        <div class="wrapper-1200">
            <a href="/" class="no-text-decoration">
                <button class="secondary"><i class="fas fa-arrow-left"></i>Back to Home</button>
            </a>
            <h1>Projects</h1>
        </div>
    </div>
    <div class="window window-cards">
        <div class="wrapper-1200">
            <div class="contain-cards">
                {% for project in projects %}
                    {% include "components/_projectSummary.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
