{% load static %}
{% block feed_summary %}
    <div class="feed-card"
         style="background-color: #{{ feed.brand_color_1 }}; background: linear-gradient(135deg, #{{ feed.brand_color_1 }}, #{{ feed.brand_color_2 }});">
        {% if feed.hero %}
            <div class="card-hero-image" style="background-image: url('{% get_media_prefix %}{{ feed.hero }}');"></div>
        {% else %}
            <div class="card-hero-image"></div>
        {% endif %}
        <div class="card-icon"><i class="{{ feed.menu_icon_name }}"></i></div>
        <div class="card-content">
            <a href="/feeds/{{ feed.url_name }}" class="no-text-decoration"><h2>{{ feed.name }}</h2></a>
            <div class="card-bio">
                <div class="bio-shader"></div>
                {{ feed.bio }}
            </div>
            <div class="meta-stats">
                <div class="meta-stat"><i class="fas fa-clock"></i>{{ feed.date_updated }}</div>
                {% if feeds.asset_count == 1 %}
                    <div class="meta-stat"><i class="far fa-images"></i>{{ feed.asset_count }} Asset</div>
                {% else %}
                    <div class="meta-stat"><i class="far fa-images"></i>{{ feed.asset_count }} Assets</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}