<footer>
    <div class="footer-buttons">
        <div class="footer-logo fl-tall">bbncreative</div>
        <a href="https://instagram.com/bbncreative.co" class="no-text-decoration">
            <div class="button instagramLink"><i class="fab fa-instagram"></i>Instagram</div>
        </a>
        <a href="https://twitter.com/bbncreative" class="no-text-decoration">
            <div class="button twitterLink"><i class="fab fa-twitter"></i>Twitter</div>
        </a>
        <div class="footer-logo fl-wide">bbncreative</div>
        <a href="https://linkedin.com/in/aaroncawte" class="no-text-decoration">
            <div class="button linkedinLink"><i class="fab fa-linkedin"></i>LinkedIn</div>
        </a>
        <a href="mailto:aaron@bbncreative.co" class="no-text-decoration">
            <div class="button"><i class="fas fa-envelope-open"></i>Email</div>
        </a>
    </div>
    <p class="footer-description">Cookies are utilised on this site. View the <a href="/privacy">Privacy Policy</a> for
        more.<br />&copy; bbncreative 2019. View on <a rel="noopener noreferrer" target="_blank"
                         href="https://github.com/aaroncawte/bbncreative-django">GitHub</a>.
        <strong>v1.1.0-beta1</strong>
    </p>
</footer>
