{% load static %}
{% block asset_summary %}
    <div class="window" data-asset-type="image" data-asset-importance="{{ asset.importance }}">
        <div class="wrapper-1200">
            <div class="content ar-{{ asset.aspect_ratio }}">
                <div class="background-blur"
                     style="background-image: url('{% get_media_prefix %}{{ asset.img }}');"></div>
                <img src="{% get_media_prefix %}{{ asset.img }}" alt="{{ asset.alt }}"/>
            </div>
            <div class="panel-right">
                <div class="mobile-corners">
                    <div class="bottom-left-corner"></div>
                    <div class="bottom-right-corner"></div>
                </div>
                <div class="l-corners">
                    <div class="top-left-corner"></div>
                    <div class="bottom-left-corner"></div>
                </div>
                <div class="r-corners">
                    <div class="top-right-corner"></div>
                    <div class="bottom-right-corner"></div>
                </div>
                <h2>{{ asset.title }}</h2>
                {% autoescape off %}
                    <p>{{ asset.body }}</p>
                {% endautoescape %}

                <p class="meta-text">Created (server time): {{ asset.created_at }}. Aspect
                    ratio: {{ asset.aspect_ratio }}.</p>
            </div>

        </div>
    </div>
{% endblock %}