{% load static %}
{% block asset_summary %}
    <div class="window" data-asset-type="image" data-asset-importance="{{ asset.importance }}">
        <div class="wrapper-1200">
            <div class="content">
                <div class="background-blur"
                     style="background-image: url('{% get_media_prefix %}{{ asset.img }}');"></div>
                <img src="{% get_media_prefix %}{{ asset.img }}" alt="{{ asset.alt }}"/>
            </div>
            <div class="panel-right">
                <h2>{{ asset.title }}</h2>
                <p>{{ asset.body }}</p>

                <p><em>Date created (server time): {{ asset.created_at }}</em></p>
                <p><em>Aspect ratio: {{ asset.aspect_ratio }}</em></p>
            </div>

        </div>
    </div>
{% endblock %}