{% block nav %}
    <nav>
        <div class="wrapper-1200">
            <div class="nav-left">
                <a href="/">
                    <div id="bbncreative-logo">bbncreative</div>
                </a>
            </div>
            <div class="nav-right">
                <div id="desktopMenuButtons">
                    <div class="menu-button" id="menuProjectsButton">Projects</div>
                    <div class="menu-button" id="menuFeedsButton">Feeds</div>
                </div>
                <div class="menu-button" id="menuGlobalButton">Menu</div>
            </div>
        </div>
    </nav>
    <div id="menuHolder">
        <div class="wrapper-1200">
            <div class="menu menu-hidden" id="menuProjects">
                <a href="/projects">
                    <div class="menu-listing">
                        <div class="menu-icon">
                            <img src="/static/img/logo-placeholder_24.png" alt="All Projects icon" width="18"
                                 height="18"/>
                        </div>
                        <div class="menu-label">All Projects</div>
                    </div>
                </a>
                <div class="menu-close">X</div>
            </div>
            <div class="menu menu-hidden" id="menuFeeds">
                <a href="/feeds">
                    <div class="menu-listing">
                        <div class="menu-icon">
                            <img src="/static/img/logo-placeholder_24.png" alt="All Feeds icon" width="18" height="18"/>
                        </div>
                        <div class="menu-label">All Feeds</div>
                    </div>
                </a>
                <div class="menu-close">X</div>
            </div>
            <div class="menu menu-hidden" id="menuGlobal">


                <div class="menu-listing" id="inMenuProjectsButton">
                    <div class="menu-icon">
                        <img src="/static/img/logo-placeholder_24.png" alt="Projects icon" width="18" height="18"/>
                    </div>
                    <div class="menu-label">Projects</div>
                </div>
                <div class="menu-listing" id="inMenuFeedsButton">
                    <div class="menu-icon">
                        <img src="/static/img/logo-placeholder_24.png" alt="Feeds icon" width="18" height="18"/>
                    </div>
                    <div class="menu-label">Feeds</div>
                </div>


                <div class="menu-listing">
                    <div class="menu-icon">
                        <img src="/static/img/logo-placeholder_24.png" alt="About Aaron icon" width="18" height="18"/>
                    </div>
                    <div class="menu-label">About Aaron</div>
                </div>
                <div class="menu-listing">
                    <div class="menu-icon">
                        <img src="/static/img/logo-placeholder_24.png" alt="Get In Touch icon" width="18" height="18"/>
                    </div>
                    <div class="menu-label">Get In Touch</div>
                </div>
                <div class="menu-close">X</div>
            </div>
        </div>
    </div>
{% endblock %}