{% block nav %}
    <nav>
        <div class="wrapper-1200">
            <div class="nav-left">
                <a href="/"><div id="bbncreative-logo">bbncreative</div></a>
            </div>
            <div class="nav-right">
                <a href="/projects">
                    <div class="menu-button">Projects</div>
                </a>
                <a href="/feeds">
                    <div class="menu-button">Feeds</div>
                </a>
                <div class="menu-button">Menu</div>
            </div>
        </div>
    </nav>
{% endblock %}