{% block project_summary %}
    <div class="window">
        <div class="wrapper-1200">
            <a href="/projects/{{ project.url_name }}"><h2>{{ project.name }}</h2></a>
            {% if project.is_complete %}
                <p>Completed: {{ project.date_complete }}</p>
            {% else %}
                <p>Ongoing project</p>
            {% endif %}
            <p>Client Name: {{ project.client_name }} </p>
            <p>Collaborator Status</p>
            <p>Project URL: {{ project.project_url }}</p>
        </div>
    </div>
{% endblock %}