{% block asset_summary %}
    <div class="window" data-asset-type="text" data-asset-importance="{{ asset.importance }}">
        <div class="wrapper-1200">
            <div class="panel-full">
                <div class="top-left-corner"></div>
                <h2>{{ asset.title }}</h2>
                {% autoescape off %}
                    <p>{{ asset.body }}</p>
                {% endautoescape %}
                <p class="meta-text">Created: {{ asset.created_at|date:'jS M Y' }}</p>
                <div class="bottom-right-corner"></div>
            </div>
        </div>
    </div>
{% endblock %}